<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-710">
    <div class="cs-container">
        <!--Top Section-->
        <div class="cs-top">
            <!--Wrapped logo in wrapper div-->
            <div class="cs-logo-wrapper">
                <a href="/" class="cs-logo">
                    <img src="/assets/svgs/logo-w.svg" alt="logo" aria-hidden="true" loading="lazy" decoding="async" width="210" height="80">
                </a>
            </div>
            <ul class="cs-ul">
                <li class="cs-li">
                    <span class="cs-header">Services</span>
                </li>
                <li class="cs-li">
                    <a href="/services/semaglutide" class="cs-link">Semaglutide</a>
                </li>
                <li class="cs-li">
                    <a href="/services/dermal-filler" class="cs-link">Dermal Filler</a>
                </li>
                <li class="cs-li">
                    <a href="/services/tirezapetide" class="cs-link">Tirezapetide</a>
                </li>
                <li class="cs-li">
                    <a href="/services/neurotoxins" class="cs-link">Neurotoxins</a>
                </li>
            </ul>
            <ul class="cs-ul">
                <li class="cs-li">
                    <span class="cs-header">Services</span>
                </li>
                <li class="cs-li">
                    <a href="/services/semaglutide" class="cs-link">Semaglutide</a>
                </li>
                <li class="cs-li">
                    <a href="/services/dermal-filler" class="cs-link">Dermal Filler</a>
                </li>
                <li class="cs-li">
                    <a href="/services/tirezapetide" class="cs-link">Tirezapetide</a>
                </li>
                <li class="cs-li">
                    <a href="/services/neurotoxins" class="cs-link">Neurotoxins</a>
                </li>
            </ul>
            <ul class="cs-ul cs-contact-ul">
                <li class="cs-li">
                    <span class="cs-header">Contact</span>
                </li>
                <li class="cs-li">
                    <a href="tel:{{client.phoneForTel}}" class="cs-link">
                        <img class="cs-icon" src="/assets/svgs/phone-w.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                        {{client.phoneFormatted}}
                    </a>
                </li>
                <li class="cs-li">
                    <a href="/contact/" class="cs-link">
                        <img class="cs-icon" src="/assets/svgs/clock-w.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                        {{client.openingHours}}
                    </a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link" target="_blank" rel="noopener">
                        <img class="cs-icon" src="/assets/svgs/pin-w.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                        {{client.address.lineOne}}<br>
                        {{client.address.lineTwo}}<br>
                        {{client.address.city}} {{client.address.zip}}
                    </a>
                </li>
            </ul>
        </div>
        <!--Middle Section-->
        <div class="cs-middle">
            <!--Navigation-->
            <ul class="cs-nav">
                <li class="cs-nav-li">
                    <a href="/" class="cs-nav-link">Home</a>
                </li>
                <li class="cs-nav-li">
                    <a href="/about/" class="cs-nav-link">About Us</a>
                </li>
                <li class="cs-nav-li">
                    <a href="/massages/" class="cs-nav-link">Massages</a>
                </li>
                <li class="cs-nav-li">
                    <a href="/gallery/" class="cs-nav-link">Gallery</a>
                </li>
                <li class="cs-nav-li">
                    <a href="/reviews/" class="cs-nav-link">Reviews</a>
                </li>
            </ul>
            <!--Social-->
            <ul class="cs-social">
                <li class="cs-social-li">
                    <a href="{{client.socials.facebook}}" class="cs-social-link" aria-label="Visit Facebook" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="/assets/svgs/facebook.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-social-li">
                    <a href="{{client.socials.twitter}}" class="cs-social-link" aria-label="Visit Twitter" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="/assets/svgs/twitter.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-social-li">
                    <a href="{{client.socials.instagram}}" class="cs-social-link" aria-label="Visit Instagram" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="/assets/svgs/instagram.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-social-li">
                    <a href="{{client.socials.youtube}}" class="cs-social-link" aria-label="Visit YouTube" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="/assets/svgs/youtube.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                    </a>
                </li>
            </ul>
        </div>
        <!--Bottom Section-->
        <div class="cs-bottom">
            <span class="cs-copyright">
              Designed and Hand Coded by <a href="https://splendidsites.com/" class="cs-copyright-link" target="_blank" rel="noopener">Splendid Sites</a> © Copyright {% year %}
            </span>
        </div>
    </div>
    <!--SVG Waves-->
    <img class="cs-graphic" src="/assets/svgs/waves.svg" alt="waves" aria-hidden="true" loading="lazy" decoding="async" width="1920" height="616">
</footer>