<!-- ====================================================================================== -->
<!--                                       SBS Pricing                                      -->
<!-- ====================================================================================== -->

<!-- ============================================ -->
<!--                Heading Block                 -->
<!-- ============================================ -->

<section id="content-1450">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Massages</span>
            <h2 class="cs-title">Our Massage Treatments</h2>
            <p class="cs-text">
                At The Icon Siam, we blend ancient Thai healing wisdom with modern massage techniques. Each treatment is tailored to address your specific needs, delivered by our certified therapists.
            </p>
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                  30 min                      -->
<!-- ============================================ -->

<section id="pricing-995">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">30 Minute Massage</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Swedish Massage</span>
                        <span class="cs-price">£35</span>
                    </h3>
                    <p class="cs-menu-text">
                        Gentle, flowing strokes promoting relaxation and improved circulation.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Oil Aromatherapy Massage</span>
                        <span class="cs-price">£35</span>
                    </h3>
                    <p class="cs-menu-text">
                        Gentle massage with essential oils for mind-body rejuvenation.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Traditional Thai Massage</span>
                        <span class="cs-price">£35</span>
                    </h3>
                    <p class="cs-menu-text">
                        Ancient clothed technique using stretches and pressure point therapy.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image -->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/swedish.jpg" | resize({width: 576, height: 760}) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/swedish.jpg" | resize({width: 576, height: 760}) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/swedish.jpg" | resize({width: 576, height: 760}) | jpeg %}" type="image/jpeg">
            <!--Tablet Image -->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/swedish.jpg" | resize({width: 928, height: 1017}) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/swedish.jpg" | resize({width: 928, height: 1017}) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/swedish.jpg" | resize({width: 928, height: 1017}) | jpeg %}" type="image/jpeg">
            <!--Desktop Image -->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/swedish.jpg" | resize({width: 1042, height: 1168}) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/swedish.jpg" | resize({width: 1042, height: 1168}) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/swedish.jpg" | resize({width: 1042, height: 1168}) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/swedish.jpg" | resize({width: 1042, height: 1017}) | jpeg %}" alt="swedish massage" width="521" height="640" loading="lazy" decoding="async" aria-hidden="true">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                  60 min                      -->
<!-- ============================================ -->

<section id="pricing-r-995">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">60 Minute Massage</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Swedish Massage</span>
                        <span class="cs-price">£55</span>
                    </h3>
                    <p class="cs-menu-text">
                        Gentle, flowing strokes promoting relaxation and improved circulation.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Sports Massage</span>
                        <span class="cs-price">£60</span>
                    </h3>
                    <p class="cs-menu-text">
                        Targeted therapy preventing injuries and enhancing performance for active individuals.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Oil Aromatherapy Massage</span>
                        <span class="cs-price">£55</span>
                    </h3>
                    <p class="cs-menu-text">
                        Gentle massage with essential oils for mind-body rejuvenation.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Traditional Thai Massage</span>
                        <span class="cs-price">£55</span>
                    </h3>
                    <p class="cs-menu-text">
                        Ancient clothed technique using stretches and pressure point therapy.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Deep Tissue Massage</span>
                        <span class="cs-price">£60</span>
                    </h3>
                    <p class="cs-menu-text">
                        Intense pressure targeting chronic tension in deeper muscle layers.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Couples Aromatherapy Massage</span>
                        <span class="cs-price">£110</span>
                    </h3>
                    <p class="cs-menu-text">
                        Side-by-side relaxation experience creating memorable bonding time together.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image -->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/sports.jpg" | resize({width: 576, height: 760}) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/sports.jpg" | resize({width: 576, height: 760}) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/sports.jpg" | resize({width: 576, height: 760}) | jpeg %}" type="image/jpeg">
            <!--Tablet Image -->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/sports.jpg" | resize({width: 928, height: 1017}) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/sports.jpg" | resize({width: 928, height: 1017}) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/sports.jpg" | resize({width: 928, height: 1017}) | jpeg %}" type="image/jpeg">
            <!--Desktop Image -->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/sports.jpg" | resize({width: 1042, height: 1168}) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/sports.jpg" | resize({width: 1042, height: 1168}) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/sports.jpg" | resize({width: 1042, height: 1168}) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/sports.jpg" | resize({width: 1042, height: 1017}) | jpeg %}" alt="head massage" width="521" height="640" loading="lazy" decoding="async" aria-hidden="true">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                  90 min                      -->
<!-- ============================================ -->

<section id="pricing-995">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">90 Minute Massage</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Swedish Massage</span>
                        <span class="cs-price">£75</span>
                    </h3>
                    <p class="cs-menu-text">
                        Gentle, flowing strokes promoting relaxation and improved circulation.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Sports Massage</span>
                        <span class="cs-price">£80</span>
                    </h3>
                    <p class="cs-menu-text">
                        Targeted therapy preventing injuries and enhancing performance for active individuals.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Oil Aromatherapy Massage</span>
                        <span class="cs-price">£80</span>
                    </h3>
                    <p class="cs-menu-text">
                        Gentle massage with essential oils for mind-body rejuvenation.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Traditional Thai Massage</span>
                        <span class="cs-price">£75</span>
                    </h3>
                    <p class="cs-menu-text">
                        Ancient clothed technique using stretches and pressure point therapy.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Deep Tissue Massage</span>
                        <span class="cs-price">£80</span>
                    </h3>
                    <p class="cs-menu-text">
                        Intense pressure targeting chronic tension in deeper muscle layers.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Couples Aromatherapy Massage</span>
                        <span class="cs-price">£150</span>
                    </h3>
                    <p class="cs-menu-text">
                        Side-by-side relaxation experience creating memorable bonding time together.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image -->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hot-oil.jpg" | resize({width: 576, height: 760}) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hot-oil.jpg" | resize({width: 576, height: 760}) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hot-oil.jpg" | resize({width: 576, height: 760}) | jpeg %}" type="image/jpeg">
            <!--Tablet Image -->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hot-oil.jpg" | resize({width: 928, height: 1017}) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hot-oil.jpg" | resize({width: 928, height: 1017}) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hot-oil.jpg" | resize({width: 928, height: 1017}) | jpeg %}" type="image/jpeg">
            <!--Desktop Image -->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hot-oil.jpg" | resize({width: 1042, height: 1168}) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hot-oil.jpg" | resize({width: 1042, height: 1168}) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hot-oil.jpg" | resize({width: 1042, height: 1168}) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/hot-oil.jpg" | resize({width: 1042, height: 1017}) | jpeg %}" alt="hot oil massage" width="521" height="640" loading="lazy" decoding="async" aria-hidden="true">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                  120 min                     -->
<!-- ============================================ -->

<section id="pricing-r-995">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">120 Minute Massage</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Swedish Massage</span>
                        <span class="cs-price">£100</span>
                    </h3>
                    <p class="cs-menu-text">
                        Gentle, flowing strokes promoting relaxation and improved circulation.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Sports Massage</span>
                        <span class="cs-price">£105</span>
                    </h3>
                    <p class="cs-menu-text">
                        Targeted therapy preventing injuries and enhancing performance for active individuals.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Oil Aromatherapy Massage</span>
                        <span class="cs-price">£100</span>
                    </h3>
                    <p class="cs-menu-text">
                        Gentle massage with essential oils for mind-body rejuvenation.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Traditional Thai Massage</span>
                        <span class="cs-price">£100</span>
                    </h3>
                    <p class="cs-menu-text">
                        Ancient clothed technique using stretches and pressure point therapy.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Deep Tissue Massage</span>
                        <span class="cs-price">£105</span>
                    </h3>
                    <p class="cs-menu-text">
                        Intense pressure targeting chronic tension in deeper muscle layers.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Couples Aromatherapy Massage</span>
                        <span class="cs-price">£190</span>
                    </h3>
                    <p class="cs-menu-text">
                        Side-by-side relaxation experience creating memorable bonding time together.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image -->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 576, height: 760}) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 576, height: 760}) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 576, height: 760}) | jpeg %}" type="image/jpeg">
            <!--Tablet Image -->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 928, height: 1017}) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 928, height: 1017}) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 928, height: 1017}) | jpeg %}" type="image/jpeg">
            <!--Desktop Image -->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 1042, height: 1168}) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 1042, height: 1168}) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 1042, height: 1168}) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 1042, height: 1017}) | jpeg %}" alt="deep tissue massage" width="521" height="640" loading="lazy" decoding="async" aria-hidden="true">
        </picture>
    </div>
</section>