<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1395">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Happy Client’s Feedback About Our Service</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-quote" aria-hidden="true" src="/assets/svgs/quote.svg" decoding="async" alt="quote icon" width="120" height="99">
                <p class="cs-item-text">
                    I'm delighted to share my praise for Siam Thai Spa The rooms are nice and clean, and the therapists' techniques worked wonders in relieving my shoulder and neck pain, as well as lower back pain. Definitely worth a try!
                </p>
                <div class="cs-flex-group">
                    <span class="cs-name">
                        Janice Lee
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-quote" aria-hidden="true" src="/assets/svgs/quote.svg" decoding="async" alt="quote icon" width="120" height="99">
                <p class="cs-item-text">
                    Had a wonderful full body Thai massage here yesterday. Worked out all the aches I had in my neck/shoulders/back. Body feels much more relaxed and had a good night's sleep.
                </p>
                <div class="cs-flex-group">
                    <span class="cs-name">
                        Cyn Dee
                    </span>
                </div>
            </li>
        </ul>
        <a href="{{client.socials.googleReview}}" target="_blank" rel="noopener" class="cs-button-solid">Leave A Review</a>
    </div>
</section>
                                