<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1628">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Massages</span>
                <h2 class="cs-title">Popular Massage Therapies at Siam Thai Spa</h2>
            </div>
        </div>                  
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/foot-massage.jpg" | resize({width: 576, height: 480}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/foot-massage.jpg" | resize({width: 576, height: 480}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/foot-massage.jpg" | resize({width: 576, height: 480}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/foot-massage.jpg" | resize({width: 971, height: 676}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/foot-massage.jpg" | resize({width: 971, height: 676}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/foot-massage.jpg" | resize({width: 971, height: 676}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/foot-massage.jpg" | resize({width: 610, height: 840}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/foot-massage.jpg" | resize({width: 610, height: 840}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/foot-massage.jpg" | resize({width: 610, height: 840}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/foot-massage.jpg" | resize({width: 610, height: 840}) | jpeg %}" alt="foot massage" width="305" height="420" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Foot Massage</h3>
                    <p class="cs-item-text">
                        Therapeutic pressure point treatment for feet and lower legs promoting total relaxation.
                    </p>
                    <span class="cs-fake-link">
                        Book Now
                        <img class="cs-icon" src="/assets/svgs/gold-chevron-right.svg" alt="book now chevron" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/head-massage.jpg" | resize({width: 576, height: 480}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/head-massage.jpg" | resize({width: 576, height: 480}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/head-massage.jpg" | resize({width: 576, height: 480}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/head-massage.jpg" | resize({width: 971, height: 676}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/head-massage.jpg" | resize({width: 971, height: 676}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/head-massage.jpg" | resize({width: 971, height: 676}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/head-massage.jpg" | resize({width: 610, height: 840}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/head-massage.jpg" | resize({width: 610, height: 840}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/head-massage.jpg" | resize({width: 610, height: 840}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/head-massage.jpg" | resize({width: 610, height: 840}) | jpeg %}" alt="hot oil massage" width="305" height="420" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Head, Neck & Shoulder Massage</h3>
                    <p class="cs-item-text">
                        Focused upper body treatment ideal for office workers suffering from stress-related tension.
                    </p>
                    <span class="cs-fake-link">
                        Book Now
                        <img class="cs-icon" src="/assets/svgs/gold-chevron-right.svg" alt="book now chevron" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 576, height: 480}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 576, height: 480}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 576, height: 480}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 971, height: 676}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 971, height: 676}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 971, height: 676}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 610, height: 840}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 610, height: 840}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 610, height: 840}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 610, height: 840}) | jpeg %}" alt="hot stone massage" width="305" height="420" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Hot Stone Massage</h3>
                    <p class="cs-item-text">
                        Heated smooth stones placed strategically whilst massaging to melt away muscle tension.
                    </p>
                    <span class="cs-fake-link">
                        Book Now
                        <img class="cs-icon" src="/assets/svgs/gold-chevron-right.svg" alt="book now chevron" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 576, height: 480}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 576, height: 480}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 576, height: 480}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 971, height: 676}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 971, height: 676}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 971, height: 676}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 610, height: 840}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 610, height: 840}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 610, height: 840}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 610, height: 840}) | jpeg %}" alt="deep tissue massage" width="305" height="420" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Deep Tissue Massage</h3>
                    <p class="cs-item-text">
                        Firm pressure therapy targeting tension in muscles to release chronic pain and stiffness.
                    </p>
                    <span class="cs-fake-link">
                        Book Now
                        <img class="cs-icon" src="/assets/svgs/gold-chevron-right.svg" alt="book now chevron" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
        </ul>
         <a href="/massages/" class="cs-button-solid">View All Massages</a>
    </div>
</section>
                                